<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p>Modelo</p>
    <p>
        {{x + z}}
    </p>
    
    {% if x >= 50 %}
        <p>OLa</p>
    {% else %}
        <p>else</p>
    {% endif %}
    
    <hr>

    <table>
        {% for k, v in query.items() %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor%}
    </table>
</body>
</html>